@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap');
*{
    margin:0px; 
    padding: 0px; 
    box-sizing: border-box;
}

/*----------general------------------*/
body{
    
    background-color: rgb(245, 245, 245);
    font-family: "Roboto", sans-serif;
    color: rgb(56, 78, 75);
    position: relative;
    padding-bottom: 3em;

    min-height: 100vh;
}
main{
    text-align: center;
    margin-bottom: 160px;
    padding-top: 60px;
    
}
h2{
    text-align: center;
    color: rgb(75, 113, 129);
}

input,textarea,select{
    font    : .9em/1.5em "handwriting", sans-serif;
    border  : 1px solid rgb(91, 124, 123);
    border-radius: 5px;
    background: none;
    padding: 8px 0px 8px 8px;
    width: 100%;
    margin-bottom: 10px;
}
textarea:focus, input:focus, input[type]:focus {
    border-color: rgba(101, 187, 236, 0.644);
    box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075)inset, 0 0 6px rgba(101, 187, 236, 0.644);
    outline: 0 none;
}

table{
    margin-top: 40px;
    margin-left: auto; 
    margin-right: auto;  
    font-weight: 700;
    background-color: rgb(183, 219, 209);
    border-spacing: 20px;
    border-collapse: separate;
    border-radius: 20px;
    box-shadow: 0px 4px 10px rgb(0 0 0 / 0.3);
}
td{
    padding: 10px;
    border: 2px solid rgb(143, 185, 174);
    border-radius: 20px;
}
th{
    padding: 10px;
    border: 2px solid rgb(143, 185, 174);
 
    color: rgb(24, 172, 24);/*agregado*/
 
    border-radius: 20px;
 
}


a{
    text-decoration: none;
    color: inherit;
    
}

a:hover{
    color: rgba(59, 76, 226, 0.609);
}



img{
    border-radius: 20px;
}

legend {
    overflow: hidden;
}
textarea {
    vertical-align: top;
}
/*---------------------HEADER------------------------------*/
.header{
    text-align:center; 
    background-color: rgb(52, 233, 148); 
    padding-top: 1.5em; 
    padding-bottom: 3em;
}
/*--------------------NAVBAR------------------------*/
nav{
    text-align: center; 
    width: 100%; 
    background:linear-gradient(rgb(52, 233, 148),rgb(58, 245, 198)); 
    padding-top: 15px; 
    padding-bottom: 15px; 
    font-size: 20px; 
    font-weight: 700;
    position: sticky;
    top: 0;

    z-index: 10;
}
nav a{
    margin-right: 40px;
    position: relative;
}
nav a::before{
    content:"";
    position: absolute;
    width:100%;
    height: 4px;
    border-radius: 4px;
    background-color: rgba(59, 76, 226, 0.609);

    bottom: 0;
    left:0;
    transform-origin:right;
    transform:scaleX(0);
    transition: transform 0.3s ease-in-out;
}
nav a:hover::before{
    transform-origin: left;
    transform: scaleX(1);
}


/*-------------------HOME------------------*/
.main-home{
    padding-top: 0px;
}
.espacio-busqueda{
    padding-top: 60px;
    padding-bottom: 60px;
    background:linear-gradient(rgb(58, 245, 198),rgb(115, 209, 193));
}
.busqueda{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(192, 231, 220);
    border-radius: 25px;
    padding: 20px;
    box-shadow: 0px 4px 10px rgb(0 0 0 / 0.3);
    position: relative;
}
.buscar{
    font-size: 17px;
    border-radius: 25px;
    margin-right: 30px;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
}
.btn--busqueda{
    width: 45px;
    cursor:pointer;
    font-size: 20px;
    background: transparent;
    position: absolute;
    border-radius: 50%;
    border: 0;
    z-index: 9;
    top:19px;
    right: 25px;
    vertical-align: top;
}
.lupa{
    font-size: 20px;
    position: absolute;
    right: 38px;
    top:30px;
}
.btn--busqueda:focus ,.btn--busqueda[type]:focus{
    border:none;
    box-shadow: none;
    outline: 0 none;
}
.panel-home{
    background:linear-gradient(rgb(115, 209, 193),rgb(255, 255, 255));
    box-shadow: 0px 40px 40px white;
}
.panel-home table{
    margin-top: 0px;
    background: none;
    border-radius: 0;
    box-shadow: none;
}
.panel-home td{
    border: none;
    padding:40px ;
}




/*-------------LOGIN---------------------*/
.pag-login{
    background-color:rgba(214, 208, 208, 0.753);
}

.login{
    background-color:rgba(255, 255, 255, 0.753);
    padding: 20px; 
    width: 400px; 
    margin:50px auto 0px auto;
    border-radius: 20px;
    box-shadow: 0px 4px 10px rgb(0 0 0 / 0.3);
}
.header-login{
    margin-top: 20px;
    text-align: center; 
    font-size: 27px;
    color:rgb(41, 87, 65)
}
.description-login{
    font-size: 22px;
    color:rgb(41, 87, 65);
}
.btn{
    font-size: 20px;
    font-weight: 600;
    border-radius: 5px;
    width: 100%;
    border: 2px solid rgb(128, 236, 173);
    background-color: rgb(128, 236, 173);
    color:rgb(63, 81, 85);
    cursor:pointer;
    padding: 5px;
    margin-bottom: 20px;
    padding: 8px;
}

.btn:hover{
    border: 2px solid rgb(97, 182, 132);
    background-color: rgb(97, 182, 132);
}

.btn--registrarse{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    width: 60%;
    margin-bottom: 6px;
    border: 2px solid rgb(128, 236, 173);
    background-color: rgb(128, 236, 173);
    

}
.btn--registrarse:hover{
    color:rgb(63, 81, 85);
}
.inputLogin{
    
    font-size: 17px; 
    margin-bottom: 10px;
    padding: 12px 16px;
    border: 1px solid rgba(146, 146, 146, 0.363);
}

/*-------------RECLAMOS-------------------*/
.parrafosReclamo{
    width: 700px;
    margin-left: auto;
    margin-right: auto; 
    text-align: justify;
}
.parrafosReclamo label{
    display: block;
    margin-bottom: 10px;
}
.check{
    width: 40px;
}
/*-------------SOLICITUD---------------------*/
.contenido-solicitud{
    margin: 20px auto 80px auto;
    border-radius: 20px;
    width: 400px;
    text-align: justify;
    padding: 20px;
    border: none;
    background-color: rgb(179, 216, 208);
    box-shadow: 0px 4px 10px rgb(0 0 0 / 0.3);
}
.contenido-solicitud div {
    margin: 20px;
    text-align: left;
}
.btn--solicitud{
    font-size: inherit;
    color:rgb(50, 59, 56);
    border: 2px solid rgb(140, 175, 143);
    background-color: rgb(140, 175, 143);
}
/*-------------ACERDA DE------------------*/
.parrafos{
    margin-left: 180px;
    margin-right: 180px; 
    margin-top: 50px; 
    margin-bottom: 50px;
    text-align: justify;
    border-radius: 25px;
    padding: 40px;
    background-color: rgb(164, 190, 194);
    box-shadow: 0px 4px 10px rgb(0 0 0 / 0.3);
}
.videos iframe{
    margin-top: 40px;
    border-radius: 15px ;
}
/*-------------FOOTER---------------------*/
footer{
    text-align: center;
    background-color: #2d3c3b;
    color:rgb(136, 131, 131);
    padding: 0.9em 0;
    width: 100%;
    position: absolute;
    bottom: 0;

}
